.product{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.product-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.product-img{
    width: 150px;
}

/* For computers */
@media (min-width: 992px) {
    .product-img{
        width: 400px;
    }
}